{%- assign rp_enabled = site.related_posts.enabled | default: true -%}
{%- if rp_enabled -%}
{%- assign current_page = include.page | default: page -%}
{%- if current_page.tags.size > 0 -%}
<div id="related-posts" data-tags="{{ current_page.tags | join: ',' }}"
  data-min-tags="{{ site.related_posts.min_tags | default: 1 }}" data-max="{{ site.related_posts.max | default: 3 }}"
  data-title="{{ site.related_posts.title | default: 'You might also enjoy' }}">
</div>
<script src="{{ '/assets/js/related-posts.js' | relative_url }}" defer></script>
{%- endif -%}
{%- endif -%}